@import '../../vars';

.Skills{
    flex: 0 0 auto;
    font-size: 12px;
    width: 100%;
    @media all and (min-width:636px){
        width: 120px;
    }
    &__Category{
        margin-bottom: 20px;
        overflow: hidden;
    }
}
.Skill{
        background: rgba(0,0,0,.03);
        border-radius: 2px;
        float: left; 
        margin: 0 4px 4px 0;
        padding: 2px 6px;
    
}