.Logo{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    text-decoration: none;
    &__Text{
        color: #555;
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
        transition: all .5s ease-in-out;
        .is--collapsed &{
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
    /*
    &__Text:before{
        animation: logotext 1.4s 1;
        animation-delay: .2s;
        animation-fill-mode: forwards;
        color: #555;
        content:'';
        display: inline-block;
        margin: 0 8px;
    }
    */
    &__Tag{
        color: #ccc;
        font-weight: 200;
    }
    &__Tagline{
        animation: tagline .5s 1;
        animation-delay: 1.4s;
        animation-fill-mode: forwards;
        color: #999;
        font-size: 12px;
        font-weight: 200;
        height: 0;
        text-transform: uppercase;
        transition: all .5s ease-in-out;
        overflow: hidden;
        .is--collapsed &{
            font-size: 10px;
        }
    }
}
/*
@keyframes logotext{
    0%{ content: 'd' }
    8%{ content: 'da' }
    16%{ content: 'dav' }
    24%{ content: 'davi' }
    32%{ content: 'david' }
    40%{ content: 'david.' }
    48%{ content: 'david.a' }
    56%{ content: 'david.as' }
    64%{ content: 'david.ash' }
    72%{ content: 'david.asht' }
    80%{ content: 'david.ashto' }
    88%{ content: 'david.ashton' }
    100%{ content: 'david.ashton' }
}
*/
@keyframes logo{
    100%{
        opacity: 1;
    }
}
@keyframes tagline{
    0%{
        height: 0;
        opacity: 0;
    }
    50%{
        height: 15px;
        opacity: 0;
    }
    100%{
        height: 15px;
        opacity: 1;
    }
}