@import '../../vars';

.Header{
    align-items: center;
    background: #fff;
    display: flex;
    height: calc(100vh - 82px);
    justify-content: center;
    max-width: 1024px;
    position: relative;
    transition: height .5s ease-in-out, background .2s ease-in-out .3s;
    width: 100%;
    z-index: 2;
    &.is--collapsed{
        height: 60px;
    }
}
.Button__Nav, .Logout{
    animation: buttonAnim .5s 1;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    font-size: 10px;
    padding: 4px 10px;
    position: absolute;
    top: 18px;
    transform: translateY(-100px);
    transition: all .2s ease-in-out;
    z-index: 2;
}
.Button__Nav{
    background: #fff;
    border: 1px #4990E2 solid;
    color: #4990E2;
    left: 20px;
    text-decoration: none;
    &:hover{
        background: #4990E2;
        color: #fff;
    }
    &:active{
        background: #4990E2;
    }
}
.Logout{
    background: #fff;
    border: 1px #ddd solid;
    color: #ddd;
    right: 20px;
    &:hover{
        background: #999;
        border-color: #999;
        color: #fff;
    }
    &:active{
        background: #999;
        border-color: #999;
        color: #fff;
    }
}
@keyframes buttonAnim{
    100%{
        transform: translateY(0);
    }
}