@import '../../vars';

$dateSize: 60px;
$itemSpacing: 20px;

.CareerTimeline{
    flex: 1 1 auto;
    margin-bottom: 20px;
    @media all and (min-width:440px){
        min-width: 400px;
    }
    &__Item{
        overflow: hidden;
        position: relative;
        &:before{
            background: #ccc;
            bottom: 0;
            content: '';
            display: block;
            left: $dateSize / 2;
            position: absolute;
            top: 0;
            width: 1px;
            z-index: 0;
        }
        + .CareerTimeline__Item{
            padding-top: $itemSpacing;
        }
        &:last-child{
            &:before{
                height: $itemSpacing;
            }
        }
    }
    &__Details{
        overflow: hidden;
        padding-top: 6px;
    }
    &__Date{
        align-items: center;
        background: #fff;
        border: 1px #ccc solid;
        border-radius: $dateSize;
        color: $clr-blue;
        display: flex;
        float: left;
        flex-direction: column;
        font-size: 14px;
        height: $dateSize;
        justify-content: center;
        line-height: 10px;
        margin-right: 10px;
        position: relative;
        text-align: center;
        width: $dateSize;
        z-index: 1;
        span{
            color: #999;
            display: block;
            font-size:10px;
            margin: -4px 0 4px;
            text-transform: uppercase;
        }
    }
    &__Company.h3{
        margin: 0;
        text-align: left;
    }
    &__Position{
        color: #999;
        font-weight: 300;
        font-size: 16px;
        margin: 0;
        text-align: left;
    }
}