.Page__Container{
    padding: 20px;
    width: 100%;
}
.Content__Container{
    font-weight: 300;
    text-align: justify;
    margin: 0 auto;
    max-width: 400px;
    h1{
        font-size: 28px;
        font-weight: 300;
    }
}
.Hero{
    margin: -20px -20px 20px;
    padding-top: 28.57%;
    width: 100vw;
    &__Image{
        margin-top: -28.57%;
        width: 100%;
    }
}