.Page__Container{
    padding: 20px;
    width: 100%;
}
.Content__Container{
    font-weight: 300;
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
    p{
        margin: 0 0 40px;
    }
}