*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
body{
    color: #555;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
input, button{
    outline: none;
}
img{
    display: inline-block;
    width: 100%;
}
.Container__Main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HomeTransition-appear {
    opacity: 0.01;
    &.HomeTransition-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
}
.HomeTransition-enter {
    opacity: 0.01;
    &.HomeTransition-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}
.HomeTransition-leave {
    opacity: 1;
    &.HomeTransition-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}