*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.Nav{
    &__Item{
        color: #999;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        &.is--active{
            color: red;
        }
    }
}
input, button{
    outline: none;
}
.Container__Main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}